<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>About Us - PlaySync</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/friend">Friends</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="container">
            <div class="image-container"></div>
            <div class="content-container">
                <h1>What is PlaySync?</h1>
                <p>
                    PlaySync was created with the vision to simplify the process of booking sports facilities. 
                    As sports enthusiasts, we noticed the difficulty of finding and reserving courts and fields, 
                    so we created a platform that bridges this gap.
                </p>
                <h2>Vision of our App!</h2>
                <p>
                    At PlaySync, our mission is to seamlessly connect athletes and sports enthusiasts with top-notch sports facilities, 
                    making it easier to book and play. We aim to create a thriving community where players and facility owners can 
                    effortlessly collaborate and enjoy their favorite sports.
                </p>
            </div>
        </div>
    </div>

    <script src="/js/about.js"></script>
</body>
</html>
