<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About PlaySync</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="container">
        <div class="section">
            <h2 class="section-heading" onclick="toggleSection('what-is-playsync')">What is PlaySync?</h2>
            <div class="section-content" id="what-is-playsync">
                <p>PlaySync was created with the vision to simplify the process of booking sports facilities. As sports enthusiasts, we noticed the difficulty of finding and reserving courts and fields, so we created a platform that bridges this gap.</p>
            </div>
        </div>
        <div class="section">
            <h2 class="section-heading" onclick="toggleSection('team')">Team</h2>
            <div class="section-content" id="team">
                <p>Team Lead: Arnav Challa</p>
            </div>
        </div>
        <div class="section">
            <h2 class="section-heading" onclick="toggleSection('vision')">Vision</h2>
            <div class="section-content" id="vision">
                <p>At PlaySync, our mission is to seamlessly connect athletes and sports enthusiasts with top-notch sports facilities, making it easier to book and play. We aim to create a thriving community where players and facility owners can effortlessly collaborate and enjoy their favorite sports..</p>
            </div>
        </div>
    </div>
    <a href="/home"><button class="btn" id="home-btn">Home</button></a>

    <script src="/js/about.js"></script>
</body>
</html>