<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <div>
            <img src="/media/logo.png" alt="PlaySync logo" class="logo">
        </div>
        <h1>PlaySync</h1>
        <div class="buttons">
            <a href="/login" class="btn">Login</a>
            <a href="/signup" class="btn">Signup</a>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>